*{
    margin:0 ;
    padding: 0;
    box-sizing:border-box ;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: rgb(178, 206, 219);
}
.ne{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 370px;
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
    
}
